fastapi
uvicorn
pydantic
sentence-transformers==3.0.1
transformers==4.44.2
scikit-learn
pdfplumber
numpy
tqdm
python-multipart
click
torch==2.3.1+cpu
--extra-index-url https://download.pytorch.org/whl/cpu